* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    text-transform: uppercase;
    background: #9e9c9c;
    border-bottom: 1px solid #494242;
}

header a {
    margin-top: 10px;
}

header img {
    height: 100px;
    position: sticky;
}

nav li {
    display: inline;
    margin: 0 0 0 5px;
}

nav a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: #961232;
    transition: 0.1s;
}

main {
    background-color: #9e9c9c;
    background-image: linear-gradient(180deg, #9e9c9c 0%, #c5a281 50%, #494242 100%);
}

footer {
    text-align: center;
    background: #141313;
    padding: 35px 0;
}

footer p {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

th, td {
    border: 1px solid white;
}

.country img {
    width: 100%;
    height: 500px;
    box-shadow: 0px 3px 5px 2px #494242;
}

.boxCountry {
    width: 800px;
    margin: 5px auto;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.boxCountry h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
}

.boxCountry h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

.boxCountry p {
    text-align: justify;
    font-size: 20px;
}

.worldCup {
    padding-bottom: 10px;
}

.boxWorldcup {
    width: 50%;
    margin: 5px auto 0;
    padding-bottom: 10px;
}

.boxWorldcup h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
}

.boxWorldcup h3 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
}

.boxWorldcup p {
    text-align: justify;
    font-size: 20px;
}

.groups {
    padding: 30px 0;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.groups h1 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 5px 0;
}

.groups p {
    font-size: 20px;
    border-bottom: 1px solid black;
}

.groupsImg {
    margin: 0 auto;
    transition: all 0.4s ease-out;
    overflow: hidden;
}

.groupsImg li {
    display: inline;
}

.groupsImg img {
    width: 30%;
    margin: 5px 7px;
}

.groupsImg img:hover {
    transform: scale(1.10, 1.10);
    transition: all 0.4s ease-out;
}

.groupsTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
}

.stadium {
    padding: 30px 0 10px;
}

.stadium img {
    width: 100%;
    height: 500px;
    box-shadow: 0px 3px 5px 2px #494242;
}

.boxStadium {
    width: 800px;
    margin: 0 auto 5px;
    padding-bottom: 10px;
}

.boxStadium h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
}

.stadiumTable {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background: black;
    color: white;
}

.boxStadium p {
    text-align: justify;
    font-size: 20px;
}

.footballTeams {
    padding: 30px 0 20px;
}

.boxTeams h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
}

.teamsImg {
    width: 940px;
    margin: 0 auto;
}

.teamsImg li {
    display: inline;
}

.teamsImg img {
    width: 24%;
    height: 150px;
    margin: 0 3px;
}

.teamsImg img:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.4s ease-out;
}

.teamsTable {
    border-collapse: collapse;
    width: 90%;
    height: 40%;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    background: black;
    color: white;
}

.strong {
    text-transform: uppercase;
    font-weight: bold;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    height: 400px;
    width: 500px;
    margin: 100px auto;
    display: flex;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modalTeams {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    height: 400px;
    width: 500px;
    margin: 100px auto;
}

.modalTeams:target {
    opacity: 1;
    pointer-events: auto;
}

.modalTeams h1 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
}

.modalTeams p {
    text-align: center;
    font-size: 15px;
    padding: 5px 0;
}

.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
    text-decoration: none;
    font-weight: bold;
}